.labelMenu {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: normal;
	background-color: #01836d;
	color: white;
	font-weight: bold;
	opacity: 0.8;
}

.dropdown-menu>.active>a {
	background-color: #04B486;
}

.btn-danger {
	margin-left: 60px;
}

.btn-default {
	width: 220px;
}

.anchoLabel {
	width: 220px;
}

.menuAdminHeader {
	color: white;
	background-color: #01836d;
	border-color: #ddd;
}

.top-buffer {
	margin-top: 20px;
}

#tablaProps {
	color: rgb(232, 97, 47);
}

#table1_wrapper {
	background-color: rgb(54, 46, 35);
	opacity: 0.9;
	padding: 4px;
	font-size: 1.2em;
}

#legendMap {
	background-color: rgb(1, 131, 109);
	opacity: 0.8;
	color:black;
}

#legendMapZonas {
	background-color: white;
	opacity: 0.8;
	color:black;
}

.saveButtonControl{
	background-image:url("#{resource['images:Disk-Blue.png']}");
	  background-repeat: no-repeat;
  margin: 0 0 5px 5px;
  width: 24px;
  height: 22px;
  cursor: pointer;
}